:root {
    --bgc: rgb(233, 240, 251);
    --sidebar-clr: rgb(128, 159, 217);
    --content-bgc: white;
    --content-hover-clr: rgb(247, 238, 218);
    --card-accent-clr: rgb(255, 200, 0);
    --shadow-clr: rgb(172, 169, 169);
    --logo-text-clr: white;
    --btn-text-clr: white;
    --btn-hover-clr: rgb(35, 91, 194);
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--bgc);
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 1.75fr 1fr 10fr / 1fr 5fr 1.75fr;

}

nav {
    background-color: var(--content-bgc);
    grid-area: 1 / 2 / 2 / 4;
    display: grid;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    align-self: center;
    gap: 10px:
}

.nav-item {
    list-style: none;
}

.nav-item img {
    width: 30px;
}

.search-icon, 
.searchbar, 
.alerts-icon, 
.nav-user-pic, 
.nav-name {
    justify-self: center;
    align-self: center;
}

.search-icon img {
    width: 30px;
}

.search-form {
    display: flex;
}

button {
   background-color: var(--sidebar-clr);
   border: none;
   color: var(--btn-text-clr);
   padding: 10px;
   border-radius: 10px;
}

button:hover {
    background-color: var(--btn-hover-clr);
    padding: 12px;
    cursor: pointer;
}

.searchbar {
    place-self: center stretch;
}

.searchbar input {
    border-radius: 5px;
    width: 100%;
    
}

.toolbar {
    grid-area: 2 / 2 / 3 / 4;
    background-color: var(--content-bgc);
    box-shadow: 0 5px 5px var(--shadow-clr);
    z-index: 100;
    padding: 5px 5%;
}

.toolbar ul {
    display: flex;
    justify-content: space-between;
}

.toolbar ul li {
    list-style: none;
}

.toolbar-cat1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.welcome {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.toolbar-cat2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
}

.toolbar-pic {
    width: 80px;
}

.toolbar-btn {
    flex: 1;
}

.sidebar {
    background-color: var(--sidebar-clr);
    grid-area: 1 / 1 / 5 / 2;
    display: grid;
    grid-template-rows: 1fr 10fr;
    gap: 75px;
}

.logo {
    display: flex;
    padding: 10px;
    gap: 10px;
}

.logo img {
    height: 100px;
    flex: 1;
}

.logo h1 {
    flex: 4;
    color: var(--logo-text-clr);
    font-weight: bold;
    font-style: italic;
}

.sidebar ul {
    height: 75%;
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    gap: 5px;
}

.menu-item {
    padding: 10px;
    list-style: none;
    justify-self: start;
    align-self: center;
    display: flex;
    gap: 10px;
}


.menu-item img {
    width: 30px;
    flex: 1;
}

.menu-item a {
    flex: 5;
    text-decoration: none;
    color: var(--content-bgc);
    font-style: italic;
    font-size: 1.5rem;
}

.title {
    grid-area: 3 / 2 / 4 / 3;
    background-color: var(--bgc);
    display: flex;
    padding-left: 10%;
    align-items: flex-end;
}

.article1 {
    background-color: var(--bgc);
    padding: 25px;
    padding-bottom: 50px;
    grid-area: 4 / 2 / 5 / 3;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 25px;
}

.card {
    background-color: var(--content-bgc);
    border-radius: 10px;
    padding-right: 10px;
    display: grid;
    grid-template: 2.5fr 1fr / 1fr 22fr;
    overflow: hidden;
    box-shadow: 0 0 10px var(--shadow-clr);
}

.card:hover,
.trending-acct:hover, 
.announcement:hover {
    background-color: var(--content-hover-clr);
    cursor: pointer;
}

.content {
    padding-top: 10px;
    padding-left: 10px;
}

.yellow {
    background-color: var(--card-accent-clr);
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.buttons img {
    height: 25px;
    width: 25px;
}

.article2 {
    background-color: var(--bgc);
    grid-area: 3 / 3 / 5 / 4;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 5fr;
    justify-content: space-around;
    padding-top: 12%;
}

.article2 ul li {
    list-style: none;
}

.announcements-container ul {
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.announcements-container ul li {
    list-style: none;
}

.announcement {
    background-color: var(--content-bgc);
    padding: 10px;
    box-shadow: 0 0 10px var(--shadow-clr);
    border-radius: 10px;
}

.trending-accts-container ul {
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.trending-accts-container ul li {
    list-style: none;
    background-color: var(--content-bgc)
}

.trending-acct {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
    box-shadow: 0 0 10px var(--shadow-clr);
    border-radius: 10px;
}

.trending-acct-pic img {
    width: 50px;
}







