*{
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 1.75fr 1fr 10fr / 1fr 5fr 1.75fr;
}

nav {
    border: 1px solid black;
    grid-area: 1 / 2 / 2 / 4;
    display: grid;

}

nav ul {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    align-self: center;
}

.nav-item {
    list-style: none;
}

.nav-item img {
    width: 30px;
}

.search-icon, .searchbar, .alerts-icon, .nav-user-pic, .nav-name {
    justify-self: center;
}

.search-icon img {
    width: 30px;
}

.searchbar {
    place-self: center stretch;
}

.searchbar input {
    width: 100%;
    box-sizing: border-box;
}

.toolbar {
    border: 1px solid black;
    grid-area: 2 / 2 / 3 / 4;
}

.toolbar ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.toolbar ul li {
    list-style: none;
    place-self: center;
}

.toolbar-pic {
    width: 80px;
}

.sidebar {
    border: 1px solid black;
    grid-area: 1 / 1 / 5 / 2;
}

.logo {
display: flex;
}

.logo img {
    height: 100px;
    flex: 1;
}

.logo h1 {
    flex: 4;
}

.sidebar ul {

}

.menu-item {
    list-style: none;
    display: flex;
}

.menu-item img {
    width: 30px;
    flex: 1;
}

.menu-item a {
    flex: 5;
}

.title1 {
    border: 1px solid black;
    grid-area: 3 / 2 / 4 / 3;
}

.title2 {
    border: 1px solid black;
    grid-area: 3 / 3 / 4 / 4;
}

.article1 {
    border: 1px solid black;
    padding: 25px;
    padding-bottom: 50px;
    grid-area: 4 / 2 / 5 / 3;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 25px;
}

.card {
    border: 1px solid black;
    border-radius: 10px;
    display: grid;
    grid-template: 2.5fr 1fr / 1fr 22fr;
    overflow: hidden;
}

.card div {
    border: 1px solid black; 
}

.yellow {
    background-color: rgb(255, 200, 0);
}

.article2 {
    border: 1px solid black;
    grid-area: 4 / 3 / 5 / 4;
}