* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: lightgray;
}

.container {
    height: 100vh;
    display: grid;
    grid-template: 1fr 1.75fr 1fr 10fr / 1fr 5fr 1.75fr;
    gap: 15px;
}

nav {
    background-color: white;
    grid-area: 1 / 2 / 2 / 4;
    display: grid;


}

nav ul {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
    align-self: center;
}

.nav-item {
    list-style: none;
}

.nav-item img {
    width: 30px;
}

.search-icon, .searchbar, .alerts-icon, .nav-user-pic, .nav-name {
    justify-self: center;
}

.search-icon img {
    width: 30px;
}

.searchbar {
    place-self: center stretch;
}

.searchbar input {
    width: 100%;
    box-sizing: border-box;
}

.toolbar {
    grid-area: 2 / 2 / 3 / 4;
    background-color: white;
}

.toolbar ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.toolbar ul li {
    list-style: none;
    place-self: center;
}

.toolbar-pic {
    width: 80px;
}

button {
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(128, 159, 217);
    padding: 20%;

}

.sidebar {
    background-color: rgb(128, 159, 217);
    grid-area: 1 / 1 / 5 / 2;
}

.logo {
display: flex;
}

.logo img {
    height: 100px;
    flex: 1;
}

.logo h1 {
    flex: 4;
}

.sidebar ul {

}

.menu-item {
    list-style: none;
    display: flex;
}

.menu-item img {
    width: 30px;
    flex: 1;
}

.menu-item a {
    flex: 5;
}

.title {
    grid-area: 3 / 2 / 4 / 3;
    background-color: lightgray;
    display: flex;
    padding-left: 10%;
    align-items: flex-end;
}

.article1 {
    background-color: lightgray;
    padding: 25px;
    padding-bottom: 50px;
    grid-area: 4 / 2 / 5 / 3;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 25px;
}

.card {
    background-color: white;
    border-radius: 10px;
    padding-right: 10px;
    display: grid;
    grid-template: 2.5fr 1fr / 1fr 22fr;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(129, 129, 129);
}

.content {
    padding-top: 10px;
    padding-left: 10px;
}

.yellow {
    background-color: rgb(255, 200, 0);
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.buttons img {
    height: 25px;
    width: 25px;
}

.article2 {
    background-color: lightgray;
    grid-area: 3 / 3 / 5 / 4;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr 5fr;
    justify-content: space-around;
}

.article2 ul li {
    list-style: none;
}

.announcements-container ul {
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.announcements-container ul li {
    list-style: none;
}

.announcement {
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgb(129, 129, 129);
    border-radius: 10px;
}

.trending-accts-container ul {
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.trending-accts-container ul li {
    list-style: none;
    background-color: white;
}

.trending-acct {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 10px;
    box-shadow: 0 0 10px rgb(129, 129, 129);
    border-radius: 10px;
}

.trending-acct-pic img {
    width: 50px;
}





